---
import "../global.css";
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>staticseek example using Astro</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8" />
	</head>
	<body>
		<header>
			<h2>
				<a href="/">Home</a>
			</h2>
		</header>

		<main>
            <slot />
		</main>

		<footer>staticseek</footer>
	</body>
</html>
<script>
