@charset "utf-8";

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --color-main: #303030;
    --color-title-background: #c0c0c0;
    --color-background: #f0f0f0;
    --color-accent: #d7003a;
    --content-width: 740px;
    --content-padding: 1rem;
}
:root {
    font-size: 18px;
    line-height: 1.8;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
p {
    text-indent: 1rem;
}

body {
    color: var(--color-main);
    background-color: var(--color-background);
}

section,
body > header {
    max-width: var(--content-width);
    box-sizing: content-box;
    margin-inline: auto;
    margin-block: var(--content-padding);
    padding-inline: var(--content-padding);
}

h2 {
    font-size: 1.2rem;
}

.input-area {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.input-area > input {
    flex-grow: 1;
}

p {
    text-align: justify;
}

article > .main-text > * + * {
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

li h3 {
    width: 100%;
    padding-inline: var(--content-padding);
    font-size: 1.2rem;
    border-bottom: 3px solid var(--color-main);
}
